html { 
  background: url('../icons/sickGraphic2.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.parallax {
    perspective: 1px;
      height: 100vh;
        overflow-x: hidden;
          overflow-y: auto;
}
.parallax__layer {
    position: absolute;
      top: 0;
        right: 0;
          bottom: 0;
            left: 0;
}
.parallax__layer--base {
    transform: translateZ(0);
  margin-top: 70vh;
}
.parallax__layer--back {
    transform: translateZ(-1px);
}

.parallax__layer--back {
    transform: translateZ(-4px) scale(6);
}

.first {
  height: 100px;
  width: 100vw;
  background-color:red;
}


.main-body {
  width: 100vw;
  background-color:rgb(247, 247, 247);
  background-image:url('../icons/tiny_grid/tiny_grid.png');
}

.me-section {
  margin-top: -500px;
  transition: margin-top 0.3s cubic-bezier(0, .2, .1, 1.3); 
  padding-top: 1px;
}

.overlay1 {
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.64) 96%, rgba(0,0,0,0.65) 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0.01)), color-stop(96%,rgba(0,0,0,0.64)), color-stop(98%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.64) 96%,rgba(0,0,0,0.65) 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.64) 96%,rgba(0,0,0,0.65) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.64) 96%,rgba(0,0,0,0.65) 98%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.64) 96%,rgba(0,0,0,0.65) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.visible {
  margin-top: 0px;
}

.name {
  color:white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  margin-top: 200px;
}

.full-stack {
  color:white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  margin-top: 50px;
  color: rgb(187, 187, 187);
  font-size: 17px;
}


.avatar {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-color: red;
  border-radius: 35px;
  top: -210px;
  transition: width .3s, height .3s, border-radius .3s, top .3s;
  /*margin-top: 130px;
  margin-bottom: 20px*/
  position: relative;
}

.avatar:hover {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  top: -215px;
  cursor: pointer;
}

.section {
  padding: 30px 0;
}

.section1 { 
  width: 100%;
  background-image:url('../icons/tiny_grid/tiny_grid.png');
}

.section2 { width: 100%;
  height: 400px;
}
.section3 { width: 100%;
  height: 400px;
}

.arrow-up {
    width: 0; 
      height: 0; 
        border-left: 5px solid transparent;
          border-right: 5px solid transparent;
            
              border-bottom: 5px solid black;
}

.arrow-down {
    width: 0; 
      height: 0; 
        border-left: 20px solid transparent;
          border-right: 20px solid transparent;
            
              border-top: 20px solid #f00;
}

.arrow-right {
    width: 0; 
      height: 0; 
        border-top: 60px solid transparent;
          border-bottom: 60px solid transparent;
            
              border-left: 60px solid green;
}

.arrow-left {
    width: 0; 
      height: 0; 
        border-top: 10px solid transparent;
          border-bottom: 10px solid transparent; 
            
              border-right:10px solid blue; 
}

.section-title {
  color: black;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  margin-top: 30px;
  display: inline-block;
  border-bottom: 1px solid black;
}

.column-container {
  padding: 0 20%;
}

.emphasis {
  color: #214a64;
  font-weight: 00;
  font-weight: bold;
}

.section-body {
  font-family: 'Dosis', sans-serif;
  color: rgb(87, 87, 87);
  font-size: 17px;
}

.another-title {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 25px;
}

input {
}

.contact-input {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
  border-radius: 0 !important;
  margin-bottom: 10px;
  border: 1px solid #ccc !important;
  font-size: 17px;
  font-family: 'Dosis', sans-serif;

}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(231, 231, 231);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(231, 231, 231);
      opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(231, 231, 231);
      opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(231, 231, 231);
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
          -o-transition: all 0.30s ease-in-out;
}
 
 input[type=text]:focus, textarea:focus {
     box-shadow: 0 0 5px rgba(81, 203, 238, 1);
 }
